
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-nexus-blue: #00f0ff;
    --color-nexus-purple: #bd00ff;
    --font-sans: "Inter", sans-serif;
}

body {
    @apply bg-black text-white antialiased;
    overflow-x: hidden;
}

/* Effet de lueur personnalisé pour les titres */
.neon-text {
    text-shadow: 0 0 10px rgba(0, 240, 255, 0.5);
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-nexus-blue);
}